# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# IDE
.idea/
*.iml
.vscode/

# Env
.env

# OS
.DS_Store
Thumbs.db

# Logs
*.log
branch_structure.json
temp_auto_push.bat
temp_interactive_push.bat
